<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/styles/styles.css" type="text/css" />
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" /> --}}
    <script src = "/socket.io/socket.io.js"></script>
     
  </head>
  <body>
    <div class="container">
      <ul>
        <a href="/"><li>Inicio</li></a>
        <a href="/add"><li>Agregar objeto</li></a>
      </ul>
    </div>
  <p>Listado de productos</p>
    <div type="text/x-handlerbars-template" id="plantillaProductos" >
    <table id="listado">
      <th>
        <td>Producto</td>
        <td>Precio</td>
        <td>Foto</td>
      </th>
      {{#each listado}}
        <tr>
          <td>{{this.nombre}}</td>
          <td>{{this.precio}}</td>
          <td><img src={{this.foto}} alt=""></td>
      {{/each}}
      </table>
  </div>

  <div >
  <p>Área de mensajes</p>
    <form onsubmit="addMessage(this)">
      <input type="email" id="id" placeholder="Email" />
      <input type="text" id="nombreUsuario" placeholder="Nombre" />
      <input type="text" id="apellidoUsuario" placeholder="Apellido" />
      <input type="number" id="edad" placeholder="Edad" />
      <input type="text" id="alias" placeholder="Alias" />
      <input type="text" id="avatar" placeholder="Avatar" />
      <input type="text" id="mensaje" placeholder="Escriba su mensaje" />
      <button type="submit">Enviar</button>
    </form>
    <table>
      <thead>
            <th>
              <td>Nombre</td>
              <td>Apellido</td>
              <td>Alias</td>
              <td>Avatar</td>
            </th>
      </thead>
      <tbody id="areaChat" type="text/x-handlerbars-template">
          {{#each message}}
          <tr>
              <td>{{this.nombre}}</td>
              <td>{{this.apellido}}</td>
              <td>{{this.alias}}</td>
              <td>{{this.avatar}}</td>
          </tr>
          {{/each}}
      </tbody>
    </table>
    <div id="messagePool" ></div>
  </div>
 </body> 
  <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" ></script>
 <script src="/static/scripts.js"></script>
</html>